@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Bakbak One', cursive;
}
p {
    font-size: 32px;
}